{% extends "base.html.twig" %}

{% block body %}
    {% if app.user %}
        <div class="row">
            {% include "withMeTemplates/listeAmis.html.twig" %}
            {# ------------------------------- discusion instantanée #}
            <div class="col-md-5">
                <div class="posts">
                    <h3>File d'actualité</h3>
                    {% include "withMeTemplates/postsAmis.html.twig" %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="posts">
                    <h3>Mes derniers posts</h3>
                    {% include "withMeTemplates/postsUser.html.twig" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
