<div class="container page-top">

    <div class="container">
        <div class="carousel slide" data-interval="9000" data-ride="carousel" id="carouselExample">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-3  ">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="myback-img ">
                                <img class="" src="https://images.pexels.com/photos/734725/pexels-photo-734725.jpeg?auto=compress&cs=tinysrgb&h=350">
                            </div>
                            <div class="myoverlay"></div>
                            <div class="profile-img">
                                <div class="borders avatar-profile">
                                    <img src="https://images.pexels.com/photos/211050/pexels-photo-211050.jpeg?auto=compress&cs=tinysrgb&h=350">
                                </div>
                            </div>
                            <div class="profile-title">
                                <a href="#">
                                    <h3>Ipsum</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" data-slide="prev" href="#carouselExample" role="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" data-slide="next" href="#carouselExample" role="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
