header {
    min-height: 60px;
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: rgb(118, 118, 180);
}

header a {
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding-right: 40px;
}

.none {
    display: none;
}

.bolck {
    display: block;
}


/* ----------------------------Debut style Header-------------------------------------------------------------------------- */

.img_profil {
    margin: 30px auto;
    width: 200px;
}

.modifier {
    display: none;
}

.img_profil:hover .modifier {
    display: block;
}

.nav-user {
    position: absolute;
    bottom: -10px;
    left: 0;
}


/* pour permettre la visibilité de nom background: linear-gradient(rgba(0, 0, 0, 0) 71%,
rgba(0, 0, 0, .53)); */


/* ----------------------------Fin style Header-------------------------------------------------------------------------- */