body {
    background-color: #f0f0f0;
}

.posts {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding-left: 25px;
    padding-top: 40px;
}

.posts>h3,
.liste-amis>h3 {
    color: rgb(118, 118, 180);
}



.postsScroll {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#nav-tabContent:first-child:active {
    border: 2px solid;
}

article {
    background-color: #1a1616;
    border: 1px solid #011f4b;
    box-shadow: 1px 1px 1px #b3cde0;
    color: white;
    text-align: justify;
    padding: 15px;
}

.liste-amis {
    padding-top: 40px;
}



article h2 {
    color: #ff0000;
}

footer {
    height: 30px;
}