.bg-login {
    background-image: url('../img_site/bg_login.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}

.center {
    padding-top: 30px;
}

.center input {
    opacity: .8;
    border: 1px solid;
}